version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: fpl-postgres
    environment:
      POSTGRES_DB: fpl
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: '0000'
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
    driver: local

